// Eww colors for Edison rice
$bg: #14171c;
$bg-alt: #181b21;
$fg: #b8bfe5;
$black: #5c6370;
$lightblack: #262831;
$red: #be5046;
$blue: #4889be;
$cyan: #49919a;
$magenta: #7560d3;
$green: #81ae5f;
$yellow: #d19a66;
$archicon: #0f94d2;
