[user]
  name = Tran Tien Dat
  email = trantiendat.dev@gmail.com
[alias]
  a = add
  b = branch
  conf = config
  c = commit --verbose
  ca = commit --amend --verbose
  cm = commit -m
  cam = commit --amend -m
  co = checkout
  cob = checkout -b
  d = diff
  ds = diff --stat
  dc = diff --cached
  pom = push origin main
  s = status
  # beautiful git log
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  # list branches sorted by last modified
  bt = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"
